.user-form{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65vh;
}

.form-signin{
    max-width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}