<div class="container">
    <div class="row">
        <h2>Добро пожаловать в систему оценки файлов!</h2>
    </div>
    <div class="row">
        <p class="">Войдите в систему, чтобы загрузить свою работу и позволить другим пользователям оставлять ей оценки. </p>
        <p class="">Оценивайте другие работы и оставляйте свои комментарии</p>
    </div>
    <div class="row">
        <div class="col-auto">
            <a class="btn btn-primary" href="/profile" role="button">Войти!</a>
        </div>
    </div>
</div>