<div class="user-form mt-5">
    <form class="container form-signin">
        <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Регистрация в системе</h1>
        <input type="email" id="inputEmail" class="form-control mb-4" placeholder="Email address" required="" autofocus="">
        <input type="password" id="inputPassword" class="form-control mb-4" placeholder="Password" required="">
        <input type="password" id="repeatPassword" class="form-control mb-4" placeholder="Repeat password" required="">
        <a href="/login" class="link-info d-block">Вход</a>
        <button class="btn btn-lg btn-primary btn-block mt-3" type="submit">Регистрация</button>
    </form>
</div>
